In [1]:
# from google.colab import drive
# drive.mount('/content/drive/',force_remount=False)

In [2]:
from os import listdir
import os
from pickle import dump
from pickle import load

# # from keras.applications.vgg16 import VGG16
# from keras.preprocessing.image import load_img
# from keras.preprocessing.image import img_to_array
# from keras.applications.vgg16 import preprocess_input
# from keras.models import Model
# from keras.layers import Input
# from keras.layers import Dense
# from keras.layers import LSTM
# from keras.layers import Embedding
# from keras.layers import Dropout
# from keras.layers.merge import add
# from keras.callbacks import ModelCheckpoint
# from keras.utils import plot_model
# from keras.utils import to_categorical
# from keras.models import load_model
# from keras.preprocessing.text import Tokenizer
# from keras.preprocessing.sequence import pad_sequences

import pandas as pd
import numpy as np
from numpy import array
from numpy import argmax

import string
import re

import warnings
warnings.filterwarnings('ignore')

In [3]:
project =list

In [4]:
# def extract_attributes(directory):
#     model = VGG16()
#     model.layers.pop()
#     model = Model(inputs=model.inputs, outputs=model.layers[-1].output)
#     attributes = dict()
#     for name in listdir(directory):
#         filename = directory + '/' + name
#         image = load_img(filename, target_size=(224, 224))
#         image = img_to_array(image)
#         image = image.reshape((1, image.shape[0], image.shape[1], image.shape[2]))
#         image = preprocess_input(image)
#         feature = model.predict(image, verbose=0)
#         image_id = name.split('.')[0]
#         attributes[image_id] = feature
#         print('>%s' % name)
#     return attributes

In [5]:
# from google.colab import drive
# drive.mount('/content/drive')

In [6]:
data = np.zeros(shape=(1,4097))

In [7]:
# extract features from all images
from os import listdir
from os.path import isfile, join

# Setting flag = false to skip the first path as it is the path of the root itself and will go infite.
flag = False 

mypath = "/content/drive/My Drive/Database"
# onlyfiles = [f for f in os.walk(mypath) if isfile(join(mypath, f))]

for path, dirs, files in os.walk(mypath):
    directory = path
    if flag == True:
        features = extract_features(directory)
    keys =features.keys()
    for key in keys:
        val= (features.get(key))
        val = np.array(val)
        labelname = np.array(os.path.basename(os.path.normpath(directory)))
        val =np.append(val,labelname)
        data =np.row_stack((data,val))
    else:
        flag =True
# directory = '/content/drive/My Drive/Colab Notebooks/01'
# features, project = extract_features(directory)
# print('Extracted Features: %d' % len(features))
# # save to file
# dump(features, open('features.pkl', 'wb'))

In [8]:
# from PIL import Image
# import numpy as np

# w, h = 512, 512
# data = np.zeros((h, w, 3), dtype=np.uint8)
# data[256, 256] = [255, 0, 0]
# img = Image.fromarray(project, 'RGB')
# img.save('my.png')
# img.show()

In [9]:
# keys =features.keys()
# for key in keys:
#   val= (features.get(key))
#   data =np.row_stack((data,val))

In [10]:
data = data[1:]
data = pd.DataFrame(data)
data

Empty DataFrame
Columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]
Index: []

[0 rows x 4097 columns]

In [11]:
dump(data, open('features.pkl', 'wb'))

In [12]:
import pickle
pickle_in = open("features (1).pkl","rb")
df = pickle.load(pickle_in)
df= np.array(df,dtype=float)

In [13]:
data = pd.DataFrame(df)

In [14]:
columns =data.columns

In [15]:
data

,0,1,2,3,4,5,6,7,8,9,...,4087,4088,4089,4090,4091,4092,4093,4094,4095,4096
0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,3.770724,0.0,...,1.783870,0.0,0.0,0.000000,2.937972,0.000000,0.0,0.0,0.822746,7.0
1,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,4.426041,0.0,...,1.762383,0.0,0.0,0.000000,2.687688,0.000000,0.0,0.0,0.414525,7.0
2,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,4.334857,0.0,...,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.000000,10.0
3,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,4.622405,0.0,...,0.000000,0.0,0.0,0.000000,0.259839,0.000000,0.0,0.0,0.613469,10.0
4,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,4.536638,0.0,...,0.000000,0.0,0.0,0.000000,1.254924,0.000000,0.0,0.0,0.130536,13.0
5,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,2.723071,0.0,...,0.000000,0.0,0.0,0.000000,0.129648,0.000000,0.0,0.0,0.000000,13.0
6,0.0,0.0,0.0,1.760015,0.0,0.000000,0.0,0.0,2.177220,0.0,...,5.317088,0.0,0.0,0.000000,1.000224,0.000000,0.0,0.0,0.000000,9.0
7,0.0,0.0,0.0,1.385491,0.0,0.000000,0.0,0.0,1.937635,0.0,...,5.037977,0.0,0.0,0.000000,1.773118,0.505184,0.0,0.0,0.000000,9.0
8,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,3.234721,0.0,...,0.000000,0.0,0.0,0.000000,1.756893,0.000000,0.0,0.0,0.314694,17.0
9,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,3.649949,0.0,...,0.000000,0.0,0.0,0.000000,1.065058,0.000000,0.0,0.0,0.000000,17.0
10,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,4.163695,0.0,...,1.792319,0.0,0.0,0.025387,1.591721,1.505184,0.0,0.0,2.162527,12.0
11,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,4.732402,0.0,...,0.000000,0.0,0.0,0.000000,1.738624,0.000000,0.0,0.0,0.000000,12.0
12,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,4.780385,0.0,...,0.000000,0.0,0.0,0.000000,2.274764,0.000000,0.0,0.0,1.211320,14.0
13,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,5.613268,0.0,...,0.000000,0.0,0.0,0.000000,2.395801,0.000000,0.0,0.0,0.976229,14.0
14,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,4.668076,0.0,...,0.000000,0.0,0.0,0.000000,1.052783,0.000000,0.0,0.0,0.000000,16.0
15,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,3.927558,0.0,...,0.000000,0.0,0.0,0.000000,1.435515,0.000000,0.0,0.0,0.000000,16.0
16,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,3.412397,0.0,...,4.529223,0.0,0.0,0.000000,1.384079,1.311916,0.0,0.0,1.867306,8.0
17,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,3.019209,0.0,...,3.708062,0.0,0.0,0.000000,0.689602,1.300687,0.0,0.0,2.308683,8.0
18,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,4.136040,0.0,...,0.986938,0.0,0.0,0.000000,2.646139,0.000000,0.0,0.0,0.414704,15.0
19,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,5.667321,0.0,...,0.920298,0.0,0.0,0.000000,2.133487,0.000000,0.0,0.0,0.000000,15.0
20,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,3.961537,0.0,...,0.000000,0.0,0.0,0.000000,1.661821,0.000000,0.0,0.0,0.026105,4.0
21,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,4.335062,0.0,...,0.000000,0.0,0.0,0.000000,2.191423,0.000000,0.0,0.0,0.248814,4.0
22,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,4.390733,0.0,...,0.010497,0.0,0.0,0.000000,1.081013,0.000000,0.0,0.0,0.816497,5.0
23,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,5.154425,0.0,...,0.000000,0.0,0.0,0.000000,2.323197,0.000000,0.0,0.0,0.103827,5.0
24,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,5.095942,0.0,...,0.000920,0.0,0.0,0.000000,2.326109,0.000000,0.0,0.0,1.215967,18.0
25,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,4.487275,0.0,...,0.000000,0.0,0.0,0.000000,0.643384,0.000000,0.0,0.0,0.602224,18.0
26,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,3.599992,0.0,...,0.000000,0.0,0.0,0.000000,1.778735,0.000000,0.0,0.0,1.555515,19.0
27,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,4.225338,0.0,...,0.000000,0.0,0.0,0.000000,1.615664,0.000000,0.0,0.0,0.770559,19.0
28,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,4.448621,0.0,...,0.000000,0.0,0.0,0.000000,1.605315,0.000000,0.0,0.0,0.053173,2.0
29,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,4.280618,0.0,...,0.000000,0.0,0.0,0.000000,1.927366,0.000000,0.0,0.0,0.000000,2.0
30,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,3.624590,0.0,...,4.650323,0.0,0.0,0.000000,3.172671,1.699767,0.0,0.0,2.734843,6.0
31,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,5.613643,0.0,...,0.257570,0.0,0.0,0.000000,2.306194,0.000000,0.0,0.0,0.725206,6.0
32,0.0,0.0,0.0,0.000000,0.0,0.654161,0.0,0.0,2.698522,0.0,...,3.114254,0.0,0.0,0.000000,2.817782,0.000000,0.0,0.0,1.637530,1.0
33,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,2.862604,0.0,...,3.410659,0.0,0.0,0.000000,1.983431,0.000000,0.0,0.0,2.901906,1.0
34,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,2.760659,0.0,...,0.000000,0.0,0.0,0.000000,0.831350,0.000000,0.0,0.0,0.000000,20.0
35,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,5.191005,0.0,...,0.000000,0.0,0.0,0.000000,1.185873,0.000000,0.0,0.0,0.000000,20.0
36,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,3.627951,0.0,...,5.578290,0.0,0.0,0.000000,1.860062,0.000000,0.0,0.0,2.334100,3.0
37,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,5.442339,0.0,...,0.000000,0.0,0.0,0.000000,1.852597,0.000000,0.0,0.0,0.000000,3.0
38,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,3.467430,0.0,...,0.000000,0.0,0.0,0.000000,1.871836,0.000000,0.0,0.0,0.058956,11.0
39,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,4.831021,0.0,...,0.000000,0.0,0.0,0.000000,2.193209,0.000000,0.0,0.0,0.000000,11.0

In [16]:
persons = data[columns[-1]].unique()

In [17]:

# new_data = np.linspace(1,4098, num=4098)
# new_data= np.reshape(new_data, (1,4098))

In [18]:
new_data = np.zeros(shape = (1,data.shape[1]+1))
# new_data = new_data.reshape(-1,1)
new_data.shape

(1, 4098)

In [19]:
for p in persons:
    d = data.loc[data[columns[-1]] ==  p]
    d = np.array(d, dtype =float)
    d = np.absolute(d[0,:-1]-d[1,:-1])
    d = np.append(d,[p,-1])
    new_data = np.row_stack((d,new_data))
new_data = new_data[:-1,:]

In [20]:
# new_data[0] = np.append(new_data,4099)

In [21]:
new_data = pd.DataFrame(new_data)
# new_header = new_data.iloc[0] #grab the first row for the header
# new_data = new_data[1:] #take the data less the header row
# new_data.columns = new_header #set the header row as the df header
person = list(new_data[columns[-1]])
person = np.array(person)
new_data['Person'] = np.array(person, dtype=float)

In [22]:
label = np.array(list(new_data[new_data.columns[len(new_data.columns)-2]]))
new_data['Label'] = np.array(label, dtype=float)

In [23]:
new_data.columns = np.array(new_data.columns)

In [24]:
new_data = new_data.drop([new_data.columns[len(new_data.columns)-3]],axis=1)

In [25]:
new_data =new_data.drop([new_data.columns[len(new_data.columns)-3]],axis=1)

In [26]:
new_data

,0,1,2,3,4,5,6,7,8,9,...,4088,4089,4090,4091,4092,4093,4094,4095,Person,Label
0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,1.363592,0.0,...,0.0,0.0,0.000000,0.321373,0.000000,0.0,0.0,0.058956,11.0,-1.0
1,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,1.814388,0.0,...,0.0,0.0,0.000000,0.007465,0.000000,0.0,0.0,2.334100,3.0,-1.0
2,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,2.430346,0.0,...,0.0,0.0,0.000000,0.354523,0.000000,0.0,0.0,0.000000,20.0,-1.0
3,0.0,0.0,0.0,0.000000,0.0,0.654161,0.0,0.0,0.164082,0.0,...,0.0,0.0,0.000000,0.834351,0.000000,0.0,0.0,1.264376,1.0,-1.0
4,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,1.989053,0.0,...,0.0,0.0,0.000000,0.866478,1.699767,0.0,0.0,2.009637,6.0,-1.0
5,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.168003,0.0,...,0.0,0.0,0.000000,0.322051,0.000000,0.0,0.0,0.053173,2.0,-1.0
6,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.625346,0.0,...,0.0,0.0,0.000000,0.163071,0.000000,0.0,0.0,0.784956,19.0,-1.0
7,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.608667,0.0,...,0.0,0.0,0.000000,1.682725,0.000000,0.0,0.0,0.613744,18.0,-1.0
8,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.763692,0.0,...,0.0,0.0,0.000000,1.242184,0.000000,0.0,0.0,0.712671,5.0,-1.0
9,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.373525,0.0,...,0.0,0.0,0.000000,0.529602,0.000000,0.0,0.0,0.222709,4.0,-1.0
10,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,1.531281,0.0,...,0.0,0.0,0.000000,0.512652,0.000000,0.0,0.0,0.414704,15.0,-1.0
11,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.393188,0.0,...,0.0,0.0,0.000000,0.694477,0.011229,0.0,0.0,0.441377,8.0,-1.0
12,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.740517,0.0,...,0.0,0.0,0.000000,0.382732,0.000000,0.0,0.0,0.000000,16.0,-1.0
13,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.832883,0.0,...,0.0,0.0,0.000000,0.121037,0.000000,0.0,0.0,0.235091,14.0,-1.0
14,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.568707,0.0,...,0.0,0.0,0.025387,0.146903,1.505184,0.0,0.0,2.162527,12.0,-1.0
15,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.415228,0.0,...,0.0,0.0,0.000000,0.691835,0.000000,0.0,0.0,0.314694,17.0,-1.0
16,0.0,0.0,0.0,0.374524,0.0,0.000000,0.0,0.0,0.239586,0.0,...,0.0,0.0,0.000000,0.772894,0.505184,0.0,0.0,0.000000,9.0,-1.0
17,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,1.813567,0.0,...,0.0,0.0,0.000000,1.125276,0.000000,0.0,0.0,0.130536,13.0,-1.0
18,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.287548,0.0,...,0.0,0.0,0.000000,0.259839,0.000000,0.0,0.0,0.613469,10.0,-1.0
19,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.655317,0.0,...,0.0,0.0,0.000000,0.250284,0.000000,0.0,0.0,0.408221,7.0,-1.0

In [27]:
new_datac2 = np.zeros(shape = (1,data.shape[1]+1))
np.random.seed(0)

In [28]:
for i in range(persons.shape[0]):
    for j in range(persons.shape[0]):
        if i != j:
            p1 = data.loc[data[columns[-1]] ==  persons[i]]
            p2 = data.loc[data[columns[-1]] ==  persons[j]]
            
            p1 = np.array(p1, dtype= float)
            p2 = np.array(p2, dtype = float)
            p3 = np.row_stack((p2[1],p2[0]))
            p = np.absolute(p1-p2)
            k = np.absolute(p1-p3)
            c2 = np.array([1,1])
            c2= c2.T
            p = np.column_stack((p,c2))
            k = np.column_stack((k,c2))
            new_datac2 = np.row_stack((p,new_datac2))
            new_datac2 = np.row_stack((k,new_datac2))

In [29]:
new_datac2 = new_datac2[:-1]
new_datac2 = pd.DataFrame(new_datac2)

In [30]:
new_datac2['Person'] = np.array(new_datac2.iloc[:,4096])

In [31]:
new_datac2['Label'] = np.array(new_datac2.iloc[:,4097])

In [32]:
new_datac2 = new_datac2.drop([new_datac2.columns[len(new_datac2.columns)-3]],axis=1)

In [33]:
new_datac2 = new_datac2.drop([new_datac2.columns[len(new_datac2.columns)-3]],axis=1)

In [34]:
ndata = pd.concat([new_data,new_datac2])

In [35]:
ndata

,0,1,2,3,4,5,6,7,8,9,...,4088,4089,4090,4091,4092,4093,4094,4095,Person,Label
0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,1.363592,0.0,...,0.0,0.0,0.0,0.321373,0.000000,0.0,0.0,0.058956,11.0,-1.0
1,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,1.814388,0.0,...,0.0,0.0,0.0,0.007465,0.000000,0.0,0.0,2.334100,3.0,-1.0
2,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,2.430346,0.0,...,0.0,0.0,0.0,0.354523,0.000000,0.0,0.0,0.000000,20.0,-1.0
3,0.0,0.0,0.0,0.0,0.0,0.654161,0.0,0.0,0.164082,0.0,...,0.0,0.0,0.0,0.834351,0.000000,0.0,0.0,1.264376,1.0,-1.0
4,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,1.989053,0.0,...,0.0,0.0,0.0,0.866478,1.699767,0.0,0.0,2.009637,6.0,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1515,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,1.702970,0.0,...,0.0,0.0,0.0,2.558040,0.000000,0.0,0.0,0.414525,6.0,1.0
1516,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.851681,0.0,...,0.0,0.0,0.0,2.678133,0.000000,0.0,0.0,0.209277,3.0,1.0
1517,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.091184,0.0,...,0.0,0.0,0.0,2.687688,0.000000,0.0,0.0,0.414525,3.0,1.0
1518,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.564133,0.0,...,0.0,0.0,0.0,2.937972,0.000000,0.0,0.0,0.822746,3.0,1.0
1519,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.196364,0.0,...,0.0,0.0,0.0,2.427849,0.000000,0.0,0.0,0.198944,3.0,1.0

In [36]:
ndata.loc[ndata['Label']==0]

Empty DataFrame
Columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]
Index: []

[0 rows x 4098 columns]

In [37]:
training = ndata
training = training.drop(['Person'],axis=1)
training = np.array(training,dtype=float)
x_train = training[:,:-1]
y_train = training[:,-1]
from sklearn.svm import SVC
clf = SVC(gamma='auto',kernel='linear')
clf.fit(x_train,y_train)

print (len(clf.support_vectors_))
print (clf.n_support_)
clf.score(x_train,y_train)
print (np.abs(clf.dual_coef_))

101
[19 82]
[[1.18995452e-02 8.18861219e-03 7.72602068e-03 3.35921804e-03
  8.34013252e-03 1.88183924e-02 2.80512031e-03 8.97081615e-03
  1.18475708e-02 1.82056000e-02 7.28266990e-03 1.29587747e-03
  4.83602837e-03 7.38829093e-03 9.03548230e-03 1.82390950e-02
  1.43538453e-02 1.91893362e-03 4.90179493e-03 4.06624276e-05
  4.18856190e-03 1.80742891e-03 2.30336034e-03 1.14981861e-03
  1.63267400e-03 1.14751670e-03 1.32539907e-03 3.70316912e-03
  1.46266077e-03 5.66067068e-04 1.82601146e-03 9.24841761e-04
  2.22011302e-03 1.71432569e-03 8.73123952e-04 4.61346937e-04
  1.06111117e-03 3.18744330e-03 2.63918025e-03 1.95143500e-03
  5.19959672e-03 4.66436336e-03 1.16348901e-04 8.84628580e-04
  2.67969986e-04 2.36878096e-04 3.70648131e-03 2.61188940e-03
  3.70860421e-03 1.97734433e-03 8.81495153e-04 6.18110790e-04
  3.22432281e-06 8.09432573e-04 1.94666556e-03 1.20606861e-03
  2.33564394e-03 1.65109177e-03 2.82857537e-04 7.20714602e-04
  9.50249572e-04 1.05374807e-03 1.22049872e-05 3.21762749e-03
  3.22295241e-03 2.50237076e-03 9.25172702e-03 2.43339550e-03
  1.69302537e-03 1.34050077e-04 4.07232957e-03 5.18875820e-03
  2.19162383e-03 3.27686435e-03 5.37145278e-04 1.15374753e-02
  7.00689885e-03 1.02613033e-03 1.32666754e-03 1.58483363e-03
  3.67583886e-03 9.22648124e-04 1.00943043e-03 2.81236033e-03
  1.07495312e-03 2.44898778e-03 2.15916869e-03 1.04469246e-03
  4.02371885e-03 7.72344533e-04 3.62963994e-03 2.07568653e-03
  1.71908394e-03 2.34034324e-03 3.16419975e-04 1.67217974e-03
  1.81958577e-03 2.21158991e-03 9.15950526e-04 4.47049944e-04
  8.56341739e-05]]

## Setting Global values for aplha,intercept,and others

In [38]:
alphas = clf.dual_coef_
support_vectors = clf.support_vectors_
bias = clf.intercept_
Ns = len(support_vectors)
print ('Aplhas',alphas)
print ('Support Vectors',support_vectors)
print ('Bias',bias)
print ('Ns', Ns)

Aplhas [[-1.18995452e-02 -8.18861219e-03 -7.72602068e-03 -3.35921804e-03
  -8.34013252e-03 -1.88183924e-02 -2.80512031e-03 -8.97081615e-03
  -1.18475708e-02 -1.82056000e-02 -7.28266990e-03 -1.29587747e-03
  -4.83602837e-03 -7.38829093e-03 -9.03548230e-03 -1.82390950e-02
  -1.43538453e-02 -1.91893362e-03 -4.90179493e-03  4.06624276e-05
   4.18856190e-03  1.80742891e-03  2.30336034e-03  1.14981861e-03
   1.63267400e-03  1.14751670e-03  1.32539907e-03  3.70316912e-03
   1.46266077e-03  5.66067068e-04  1.82601146e-03  9.24841761e-04
   2.22011302e-03  1.71432569e-03  8.73123952e-04  4.61346937e-04
   1.06111117e-03  3.18744330e-03  2.63918025e-03  1.95143500e-03
   5.19959672e-03  4.66436336e-03  1.16348901e-04  8.84628580e-04
   2.67969986e-04  2.36878096e-04  3.70648131e-03  2.61188940e-03
   3.70860421e-03  1.97734433e-03  8.81495153e-04  6.18110790e-04
   3.22432281e-06  8.09432573e-04  1.94666556e-03  1.20606861e-03
   2.33564394e-03  1.65109177e-03  2.82857537e-04  7.20714602e-04
   9.50249572e-04  1.05374807e-03  1.22049872e-05  3.21762749e-03
   3.22295241e-03  2.50237076e-03  9.25172702e-03  2.43339550e-03
   1.69302537e-03  1.34050077e-04  4.07232957e-03  5.18875820e-03
   2.19162383e-03  3.27686435e-03  5.37145278e-04  1.15374753e-02
   7.00689885e-03  1.02613033e-03  1.32666754e-03  1.58483363e-03
   3.67583886e-03  9.22648124e-04  1.00943043e-03  2.81236033e-03
   1.07495312e-03  2.44898778e-03  2.15916869e-03  1.04469246e-03
   4.02371885e-03  7.72344533e-04  3.62963994e-03  2.07568653e-03
   1.71908394e-03  2.34034324e-03  3.16419975e-04  1.67217974e-03
   1.81958577e-03  2.21158991e-03  9.15950526e-04  4.47049944e-04
   8.56341739e-05]]
Support Vectors [[0.0000000e+00 0.0000000e+00 0.0000000e+00 ... 0.0000000e+00
  0.0000000e+00 5.8956206e-02]
 [0.0000000e+00 0.0000000e+00 0.0000000e+00 ... 0.0000000e+00
  0.0000000e+00 2.3340995e+00]
 [0.0000000e+00 0.0000000e+00 0.0000000e+00 ... 0.0000000e+00
  0.0000000e+00 0.0000000e+00]
 ...
 [0.0000000e+00 0.0000000e+00 0.0000000e+00 ... 0.0000000e+00
  0.0000000e+00 1.7900000e-04]
 [0.0000000e+00 0.0000000e+00 0.0000000e+00 ... 0.0000000e+00
  0.0000000e+00 4.0804197e-01]
 [0.0000000e+00 0.0000000e+00 0.0000000e+00 ... 0.0000000e+00
  0.0000000e+00 6.9220920e-01]]
Bias [-2.27860114]
Ns 101

In [39]:
# Creating test set
import pickle
pickle_in = open("test_features (1).pkl","rb")

testSet = pickle.load(pickle_in)
testSet = np.array(testSet, dtype=float)

array([[ 0.        ,  0.        ,  0.        , ...,  0.        ,
         0.        ,  0.        ],
       [ 0.        ,  0.        ,  0.        , ...,  0.        ,
         0.        , 13.        ],
       [ 0.        ,  0.        ,  0.        , ...,  0.        ,
         0.24072236, 10.        ],
       ...,
       [ 0.        ,  0.        ,  0.        , ...,  0.        ,
         0.        , 15.        ],
       [ 0.        ,  0.        ,  0.        , ...,  0.        ,
         1.4625401 , 14.        ],
       [ 0.        ,  0.        ,  0.        , ...,  0.        ,
         0.        , 20.        ]])

In [40]:
testSet.shape

(12, 4097)

In [41]:
# Helper function
def getX(ci):
    res = np.array(data.loc[data[data.columns[len(data.columns)-1]] == ci], dtype= float)
    # print ("Delta", res[0]-res[1])
    return res[0,:-1]

In [42]:
# Helper function
def getX2(ci):
    res = np.array(data.loc[data[data.columns[len(data.columns)-1]] == ci], dtype= float)
    # print ("Delta", res[0]-res[1])
    return res[1,:-1]

In [43]:
def subtract(a,b):
    a= np.array(a, dtype =float)
    b = np.array(b,dtype = float)
    return np.absolute(a - b)

In [44]:
def computeKernal(a,sub):
    sub = sub.reshape(-1,1)
    return (a) @ (sub)

In [45]:
'''
Terminologies:
1. probe = test image
2. ci = claimed identity
'''
def verification(probe,ci):
    # x_ = extract_proble_features(probe)
    x = getX(ci)
    sub = subtract(x,probe)
    similarity = 0
    for i in range(Ns):
        alpha = alphas[0][i]
        similarity = similarity + (alpha * computeKernal(support_vectors[i],sub))
    return similarity

# Calculation of threshold

In [46]:
threshold = 0
for i in range(20):
    i=i+1
    thr = getX2(i)
    re = verification(thr,i)
    threshold = threshold+ re
threshold = (threshold/20) * 1.3 #1.1 is the bias factor 
print (threshold)

[1.63622728]

# Results of verification

In [47]:
claimed ={"false positive":0,
         "false negative": 0,
         "true positive":0,
         "true negative":0}
def score(testSet,ci, threshold):
    input = testSet[:-1]
    output = testSet[-1]
    if(verification(input,ci) < threshold):
        if(ci == output):
            tp = claimed.get("true positive")
            claimed.update({"true positive":tp+1})
        else:
            fp = claimed.get("false positive")
            claimed.update({"false positive":fp+1})

        return output,"Claim Accepted"
    else:
        if(ci == output):
            fn = claimed.get("false negative")
            claimed.update({"false negative":fn+1})
        else:
            tn = claimed.get("true negative")
            claimed.update({"true negative":tn+1})
        
        return output,"Claim rejected"

In [48]:
pd.DataFrame(testSet)

,0,1,2,3,4,5,6,7,8,9,...,4087,4088,4089,4090,4091,4092,4093,4094,4095,4096
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,...,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.564529,0.0,...,0.000000,0.0,0.0,0.0,0.471729,0.0,0.0,0.0,0.000000,13.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.391090,0.0,...,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.240722,10.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.044730,0.0,...,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,10.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.029039,0.0,...,0.000000,0.0,0.0,0.0,1.453692,0.0,0.0,0.0,0.012715,16.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.493665,0.0,...,0.000000,0.0,0.0,0.0,0.640625,0.0,0.0,0.0,0.596642,18.0
6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.442119,0.0,...,0.000000,0.0,0.0,0.0,1.512407,0.0,0.0,0.0,0.000000,19.0
7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.341520,0.0,...,0.000000,0.0,0.0,0.0,1.464455,0.0,0.0,0.0,0.000000,12.0
8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.922047,0.0,...,0.000000,0.0,0.0,0.0,1.669628,0.0,0.0,0.0,0.207438,17.0
9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.583913,0.0,...,1.074915,0.0,0.0,0.0,2.042983,0.0,0.0,0.0,0.000000,15.0
10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.564263,0.0,...,0.000000,0.0,0.0,0.0,2.750454,0.0,0.0,0.0,1.462540,14.0
11,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.298114,0.0,...,0.791542,0.0,0.0,0.0,0.708044,0.0,0.0,0.0,0.000000,20.0

In [49]:
dict_results= dict()

for i in range(10,20):
    i =i+1
    ans =dict()
    results = np.apply_along_axis(score,1,testSet,i,threshold)
    for k in range(results.shape[0]):
        ans.update({results[k,0]:results[k,1]})
    dict_results.update({i:ans})
display(pd.DataFrame(dict_results)) 
display(pd.DataFrame(dict({"ROC":claimed})))
print ("Accuray", (claimed.get("true positive") + claimed.get("true negative"))/(claimed.get("true positive") + claimed.get("true negative")+claimed.get("false positive") + claimed.get("false negative" )))
print ("Precision",claimed.get("true positive")/((claimed.get("true positive")+(claimed.get("false positive")))))
print ("Recall",claimed.get("true positive")/((claimed.get("true positive")+(claimed.get("false negative")))))

,11,12,13,14,15,16,17,18,19,20
0.0,Claim rejected,Claim rejected,Claim rejected,Claim rejected,Claim rejected,Claim rejected,Claim rejected,Claim rejected,Claim rejected,Claim rejected
13.0,Claim rejected,Claim rejected,Claim rejected,Claim rejected,Claim rejected,Claim rejected,Claim rejected,Claim rejected,Claim rejected,Claim rejected
10.0,Claim rejected,Claim rejected,Claim rejected,Claim rejected,Claim rejected,Claim rejected,Claim rejected,Claim rejected,Claim rejected,Claim rejected
16.0,Claim rejected,Claim rejected,Claim rejected,Claim rejected,Claim rejected,Claim Accepted,Claim rejected,Claim rejected,Claim rejected,Claim rejected
18.0,Claim rejected,Claim rejected,Claim rejected,Claim rejected,Claim rejected,Claim rejected,Claim rejected,Claim Accepted,Claim rejected,Claim rejected
19.0,Claim rejected,Claim rejected,Claim rejected,Claim rejected,Claim rejected,Claim rejected,Claim rejected,Claim rejected,Claim rejected,Claim rejected
12.0,Claim rejected,Claim rejected,Claim rejected,Claim rejected,Claim rejected,Claim rejected,Claim rejected,Claim rejected,Claim rejected,Claim rejected
17.0,Claim rejected,Claim rejected,Claim rejected,Claim rejected,Claim rejected,Claim rejected,Claim Accepted,Claim rejected,Claim rejected,Claim rejected
15.0,Claim rejected,Claim rejected,Claim rejected,Claim rejected,Claim Accepted,Claim rejected,Claim rejected,Claim rejected,Claim rejected,Claim rejected
14.0,Claim rejected,Claim rejected,Claim rejected,Claim Accepted,Claim rejected,Claim rejected,Claim rejected,Claim rejected,Claim rejected,Claim rejected
20.0,Claim rejected,Claim rejected,Claim rejected,Claim rejected,Claim rejected,Claim rejected,Claim rejected,Claim rejected,Claim rejected,Claim rejected

                ROC
false negative    4
false positive    0
true negative   111
true positive     5

Accuray 0.9666666666666667
Precision 1.0
Recall 0.5555555555555556

In [50]:
print (type(data))

<class 'pandas.core.frame.DataFrame'>

# Results of Identification

In [51]:
def identification(probe):
    similarity_list=list()
    dummy = np.array(data,dtype=float)
    for k in dummy[:,-1]:
        x= getX(float(k)) 
        sub = subtract(x,probe)
        similarity = 0
        for i in range(Ns):
            alpha = alphas[0][i]
            similarity = similarity + (alpha * computeKernal(support_vectors[i],sub))
        similarity_list.append([similarity[0],k])
    
    return similarity_list

In [52]:
ident_claimed ={"false positive":0,
         "false negative": 0,
         "true positive":0,
         "true negative":0}
def identificationScore(actual,sim):
    check = sim[0]
    if check < threshold:
        if(sim[1] == actual):
            val=ident_claimed.get("true positive")
            ident_claimed.update({"true positive":val+1})
        else:
            val=ident_claimed.get("false positive")
            ident_claimed.update({"false positive":val+1})
    else:
        if(sim[1]== actual):
            val=ident_claimed.get("false negative")
            ident_claimed.update({"false negative":val+1})
        else:
            val=ident_claimed.get("true negative")
            ident_claimed.update({"true negative":val+1})

In [53]:
for i in range(12):
    res = identification(testSet[i,:-1])
    res=pd.DataFrame(np.array(res))
    res =res.sort_values(by=[res.columns[0]])
    identificationScore(testSet[i,-1],np.array(res)[0])
print(ident_claimed)

{'false positive': 0, 'false negative': 3, 'true positive': 7, 'true negative': 2}

In [54]:
display(pd.DataFrame(dict({"ROC":ident_claimed})))
print ("Accuray", (ident_claimed.get("true positive") + ident_claimed.get("true negative"))/(ident_claimed.get("true positive") + ident_claimed.get("true negative")+ident_claimed.get("false positive") + ident_claimed.get("false negative" )))
print ("Precision",ident_claimed.get("true positive")/((ident_claimed.get("true positive")+(ident_claimed.get("false positive")))))
print ("Recall",ident_claimed.get("true positive")/((ident_claimed.get("true positive")+(ident_claimed.get("false negative")))))

                ROC
false negative    3
false positive    0
true negative     2
true positive     7

Accuray 0.75
Precision 1.0
Recall 0.7